---

---
<style>
  .container_Card1 {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 16px;
    max-width: 276px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  .card1 {
    min-width: 200px;
    min-height: 200px;
    color: white;
    border: solid 1px white;
  }
</style>

<h2>Card Snap</h2>
<div class="container_Card1">
  <div class="card1">HTML</div>
  <div class="card1">CSS</div>
  <div class="card1">JS</div>
  <div class="card1">Python</div>
</div>